<div class="options" style="position: absolute; right: 10px;">
  <smart-check-box id="collapsible" [checked]="true" (onChange)="handleCollapsibleChange($event)">Collapsible
    cards</smart-check-box>
  <smart-check-box id="icons" [checked]="true" (onChange)="handleIconsChange()">Icons</smart-check-box>
  <div>
    <p>Cell orientation:</p>
    <smart-radio-button id="horizontal" [checked]="true"
      (onChange)="handleCellsOrientationChange('horizontal')">horizontal</smart-radio-button>
    <smart-radio-button id="vertical"
      (onChange)="handleCellsOrientationChange('vertical')">vertical</smart-radio-button>
  </div>
  <div>
    <p>Cover mode:</p>
    <smart-radio-button id="crop" [checked]="true"
      (onChange)="handleImageCoverModeChange('crop')">crop</smart-radio-button>
    <smart-radio-button id="fit" (onChange)="handleImageCoverModeChange('fit')">fit</smart-radio-button>
  </div>
  <p>Title:</p>
  <smart-drop-down-list #titleFieldComponent id="titleField" data-source='["First name", "Last name", "Pet name"]'
    selected-indexes="[0]"></smart-drop-down-list>
</div>
<smart-card-view #cardview id="cardView" [dataSource]="dataSource" [columns]="columns"
  [cellOrientation]="cellOrientation" [collapsible]="collapsible" [coverField]="coverField"
  [titleField]="titleField"></smart-card-view>