<smart-carousel #carousel id="carousel"></smart-carousel>
<div id="navigationBox">
    <smart-check-box id="arrows" [checked]="true" (onChange)="handleCheckBoxChange($event, 'hideArrows')">Show
        Arrows</smart-check-box>
    <br />
    <smart-check-box id="indicators" [checked]="true" (onChange)="handleCheckBoxChange($event, 'hideIndicators')">Show
        Indicators</smart-check-box>
    <br />
    <smart-check-box id="wheel" (onChange)="handleCheckBoxChange($event, 'wheel')">Navigate via Mouse
        Wheel</smart-check-box>
    <br />
    <smart-check-box id="swipe" (onChange)="handleCheckBoxChange($event, 'swipe')">Navigate via Swipe
        Left / Swipe Right
    </smart-check-box>
    <br />
    <smart-check-box id="slideShow" (onChange)="handleCheckBoxChange($event, 'slideShow')">SlideShow</smart-check-box>
    <br />
    <smart-check-box id="loop" (onChange)="handleCheckBoxChange($event, 'loop')">Loop</smart-check-box>
    <br />
    <hr />
    <smart-button id="playButton" (click)="handleButtonClick($event)">Play</smart-button>
    <smart-button id="pauseButton" (click)="handleButtonClick($event)">Pause</smart-button>
    <br />
    <br />
    <smart-button id="prevButton" (click)="handleButtonClick($event)">Prev</smart-button>
    <smart-button id="nextButton" (click)="handleButtonClick($event)">Next</smart-button>
    <br />
    <br />
    <smart-button id="slideToButton" (click)="handleButtonClick($event)">Slide To</smart-button>
    <br />
    <smart-text-box #textbox id="slideToValue" [placeholder]="'Value'"></smart-text-box>
</div>