<div class="document-container">
  <smart-ribbon id="ribbon" #ribbon [dataSource]="dataSource" [fileMenu]="fileMenu"></smart-ribbon>
  <div class="document">
    <div>
      Tabs, Groups and Items can be added as an HTML node or an Object<br />
      <div>
        <smart-button id="add-tab-btn" #addTabBtn (onClick)="AddTab()">Add new Tab</smart-button>
        <smart-button id="add-group-btn" #addGroupBtn (onClick)="AddGroup()">Add Group to current tab</smart-button>
        <smart-button id="add-item-btn" #addItemBtn (onClick)="AddItem()">Add Item to first group of selected tab
        </smart-button>
      </div>
    </div>
  </div>
</div>