
<smart-grid #grid id="grid" [sorting]="sorting" [behavior]="behavior" [editing]="editing" [filtering]="filtering" [selection]="selection" [dataSource]="dataSource"
    [columns]="columns"></smart-grid>


<div class="options">
	<div class="option">
		<smart-button data-target="#grid" data-toggle="saveState" id="saveState">
			Save State
		</smart-button>
	</div>
	<div class="option">
		<smart-button data-target="#grid" data-toggle="loadState" id="loadState">
			Load State
		</smart-button>
	</div>
	<div class="option">
		<smart-button data-target="#grid" data-toggle="resetState" id="resetState">
			Reset State
		</smart-button>
	</div>
</div>