 <div class="demo-scription">
      <h1>Collaborative Smart Grids with Firebase</h1>
</div>

<div class="grid-container">
  <smart-grid
	#grid1
	[columns]="columns"
	[selection]="properties.selection"
	[editing]="properties.editing"
	[behavior]="properties.behavior"
	[dataSourceSettings]="properties.dataSourceSettings"
	[appearance]="properties.appearance"
  ></smart-grid>
  <smart-grid
	#grid2
	[columns]="columns"
	[selection]="properties.selection"
	[editing]="properties.editing"
	[behavior]="properties.behavior"
	[dataSourceSettings]="properties.dataSourceSettings"
	[appearance]="properties.appearance"
  ></smart-grid>
</div>