<smart-calendar #calendar class="calendar-demo" [min]="min" [max]="max"
    [selectedDates]="selectedDates"></smart-calendar>
<div class="options" id="controlContainer">
    <div>Min/Max Set</div>
    <div class="option">
        <pre>Min </pre>
        <input class="text-input" [value]="min" #minInput [placeholder]="min" id="minInput" />
    </div>
    <div class="option">
        <pre>Max </pre>
        <input class="text-input" [value]="max" #maxInput [placeholder]="max" id="maxInput" />
    </div>
</div>