/* ------------ Google fonts ------------ */

/* fallback */
@font-face {
	font-family: 'Material Icons';
	font-style: normal;
	font-weight: 400;
	src: url(https://fonts.gstatic.com/s/materialicons/v31/2fcrYFNaTjcS6g4U3t-Y5ZjZjT5FdEJ140U2DJYC3mY.woff2) format('woff2');
}

.material-icons {
	font-family: 'Material Icons';
	font-weight: normal;
	font-style: normal;
	font-size: 24px;
	line-height: 1;
	letter-spacing: normal;
	text-transform: none;
	display: inline-block;
	white-space: nowrap;
	word-wrap: normal;
	direction: ltr;
	-webkit-font-feature-settings: 'liga';
	-webkit-font-smoothing: antialiased;
}

/* ------------ */
smart-circular-progress-bar smart-repeat-button {
	width: 100%;
	height: 50%;
}

section h1 {
	font-weight: 400;
	font-size: 24px;
	line-height: 40px;
	margin-bottom: 30px;
	color: #764ebe;
}

section:first-of-type h1 {
	font-size: 34px;
	border-top: initial;
}

section:first-of-type div h1 {
	font-size: 20px;
}

section {
	margin-top: 80px;
}

section:first-of-type {
	margin-top: 0;
}

section div h1 {
	color: #212121;
	font-size: 20px;
	font-weight: 400;
	line-height: 32px;
	margin-bottom: 20px;
	max-width: 940px;
}

nav {
	display: block;
	border-left: 5px #3949ab solid;
	padding-left: 20px;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	-webkit-font-smoothing: antialiased;
	font: inherit;
	margin-top: 60px;
}

nav ul {
	list-style: none;
	margin-top: 0;
	padding-left: 0;
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline;
	display: block;
	list-style-type: disc;
}

nav li {
	list-style: none;
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	font-size: 20px;
	line-height: 40px;
}

nav li a {
	text-decoration: none;
}

nav h1 {
	font-size: 15px;
	line-height: 16px;
	padding-bottom: 12px;
	font-weight: 400;
	color: #757575;
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline;
	-webkit-margin-before: 1em;
	-webkit-margin-after: 1em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
}

.module {
	width: calc(100% / 4);
	display: inline-block;
	font: inherit;
	margin-right: 40px;
	min-width: 365px;
	vertical-align: top;
}

#button-types .module:first-of-type {
	display: block;
	width: 100%;
}

.module h1,
.module h2 {
	-webkit-margin-before: 0;
	font-weight: 700;
}

#button-types .module,
#button-style .module {
	display: inline-block;
	margin-top: 30px;
}

#button-types figure {
	width: 100%;
	-webkit-margin-start: 0;
	margin-top: 40px;
}

#button-types .button-style,
#button-floating .specs-behavior {
	margin-top: 80px;
}

#button-types .button-style h1 {
	margin-top: initial;
}

#button-types .button-style:last-of-type {
	width: calc(100% / 2 + 45px);
}

#button-types .button-style:last-of-type figure {
	margin-top: initial;
}

#button-usage .usage-table {
	width: calc(100% / 2 + 45px);
}

section>h2:first-of-type {
	border-top: 1px solid rgba(0, 0, 0, 0.12);
	font-weight: 400;
	font-size: 24px;
	line-height: 40px;
	margin-bottom: 30px;
	color: #3949ab;
	padding-top: 80px;
}

#button-usage .usage-table p {
	margin-top: initial;
	margin-bottom: initial;
}

#button-usage table {
	border-collapse: collapse;
	border-spacing: 0;
	background-color: #fff;
	font-size: 13px;
	width: 100%;
	margin-bottom: 40px;
	table-layout: auto;
}

#button-usage table tr:first-child td p {
	color: #757575;
	font-size: 13px;
	line-height: 24px;
	margin: 0 0 0.5em;
	max-width: 760px;
	word-wrap: break-word;
}

#button-usage table td {
	border: 1px solid #eee;
	line-height: 24px;
	padding: 12px 12px 12px 24px;
	color: #212121;
	vertical-align: middle;
}

#button-flat .button-light,
#button-flat .button-dark,
#button-raised .button-light,
#button-raised .button-dark,
#button-floating .button-light,
#button-floating .button-dark {
	text-align: center;
}

#button-flat .button-dark p,
#button-flat .button-light p,
#button-raised .button-dark p,
#button-raised .button-light p,
#button-floating .button-light p,
#button-floating .button-dark p,
#repeat-buttons-specs-behavior .repeat-button-light p,
#repeat-buttons-specs-behavior .repeat-button-dark p {
	margin: initial;
	-webkit-margin-before: initial;
	-webkit-margin-after: initial;
	text-align: left;
}

#button-flat .button-dark p:first-of-type,
#button-flat .button-light p:first-of-type,
#button-raised .button-dark p:first-of-type,
#button-raised .button-light p:first-of-type,
#repeat-buttons-specs-behavior .repeat-button-light p:first-of-type,
#repeat-buttons-specs-behavior .repeat-button-dark p:first-of-type {
	-webkit-margin-before: 1em;
	-webkit-margin-after: 1em;
}

#button-flat .button-light div,
#button-raised .button-light div,
#button-floating .button-light div {
	background-color: #eeeeee;
	padding: 50px;
}

#button-flat .button-dark>div,
#button-raised .button-dark>div,
#button-floating .button-dark>div {
	background-color: #333333;
	color: #fff;
	text-align: center;
	padding: 50px;
}

#button-flat .module,
#button-raised .module,
#button-floating .module {
	height: 100%;
}

#button-flat .module h2,
#button-raised .module h2,
#button-floating .module h2,
#button-floating-demo .module h2 {
	font-weight: 500;
}

#button-flat-demo .flat-demo,
#button-flat-demo .flat-demo2 {
	position: relative;
	height: 700px;
	background-color: #eeeeee;
	text-align: center;
	background-image: url(https://htmlelements.com/demos/images/flat-button-demo.png);
	background-size: cover;
	background-position: center;
}

#button-flat-demo .flat-demo button,
#button-flat-demo .flat-demo2 button {
	color: var(--smart-hover-color);
}

#button-flat-demo .flat-demo smart-button {
	position: absolute;
	top: calc(50% + 45px);
	left: 0;
}

#button-flat-demo .flat-demo smart-button:nth-child(2) {
	left: 95px;
}

#button-flat-demo .flat-demo2 {
	background-image: url(https://htmlelements.com/demos/images/flat-button-demo2.png);
}

#button-flat-demo .flat-demo2 smart-button {
	position: absolute;
	top: calc(50% + 40px);
	left: calc(100% - 130px);
}

#button-flat-demo .flat-demo2 smart-button:nth-child(2) {
	left: calc(100% - 225px);
}

#button-flat-demo h2 {
	font-weight: 500;
}

#button-floating-demo .floating-action-area,
#button-raised-demo .raised-demo,
#button-raised-demo .raised-demo2,
.floating-demo-start,
.raised-demo-start,
.flat-demo-start {
	position: relative;
	height: 700px;
	background-color: #eeeeee;
	text-align: center;
	background-image: url(https://htmlelements.com/demos/images/raised-button-demo.png);
	background-size: cover;
	background-position: center;
}

#button-raised-demo .raised-demo button,
#button-raised-demo .raised-demo2 button {
	color: var(--smart-hover-color);
}

.raised-demo-start smart-button,
#button-raised-demo .raised-demo smart-button {
	position: absolute;
	top: 25%;
	left: 18%;
	width: 125px;
}

.raised-demo-start smart-button button,
#button-raised-demo .raised-demo smart-button button {
	--smart-material-background-color: transparent;
	color: #555;
}

.raised-demo-start smart-button:nth-child(2),
#button-raised-demo .raised-demo smart-button:nth-child(2) {
	left: calc(22% + 125px);
}

.raised-demo-start smart-button:nth-child(2) button,
#button-raised-demo .raised-demo smart-button:nth-child(2) button {
	background-color: #ff5252;
	color: #fff;
}

.raised-demo-start smart-button:nth-child(3),
#button-raised-demo .raised-demo smart-button:nth-child(3) {
	top: 68%;
	left: 18%;
}

#button-raised-demo .raised-demo2 {
	background-image: url(https://htmlelements.com/demos/images/raised-button-demo2.png);
}

#button-raised-demo .raised-demo2 smart-button {
	position: absolute;
	top: 42.5%;
	left: 14%;
	width: 100px;
}

#button-raised-demo .raised-demo2 smart-button button {
	--smart-material-background-color: transparent;
	color: #2396f1;
}

#button-raised-demo .raised-demo2 smart-button:nth-child(2) {
	left: calc(14% + 115px);
}

#button-raised-demo .raised-demo2 smart-button:nth-child(3) {
	top: 71%;
}

#button-floating-demo .floating-action-area {
	background-image: url(https://htmlelements.com/demos/images/Album.png);
}

#button-floating-demo .floating-action-area div h2 {
	pointer-events: none;
}

#button-floating-demo .floating-action-area div {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}

#button-floating-demo .floating-action-area smart-button {
	position: absolute;
	top: 70%;
	left: calc(100% - 70px);
	width: 56px;
	height: 56px;
}

#button-floating-demo .floating-action-area #floating-hover-action {
	position: absolute;
	top: 70%;
	left: calc(50% - 20px);
}

#button-floating-demo .floating-action-area .floating-click-sub-action:nth-of-type(2) {
	top: 60%;
	transition: top 0.2s ease-in;
	width: 45px;
	height: 45px;
	left: calc(100% - 65px);
}

#button-floating-demo .floating-action-area .floating-click-sub-action:nth-of-type(3) {
	top: 50%;
	transition: top 0.2s ease-in;
	width: 45px;
	height: 45px;
	left: calc(100% - 65px);
}

#button-floating-demo .floating-action-area .floating-click-sub-action.smart-visibility-hidden:nth-of-type(2),
#button-floating-demo .floating-action-area .floating-click-sub-action.smart-visibility-hidden:nth-of-type(3) {
	top: 70%;
	transition: animation, visibility 0.2s ease-out;
}

#button-floating-demo .floating-action-area .floating-click-sub-action.smart-visibility-hidden:nth-of-type(2) {
	animation: material-sub-button-top-hide 0.2s ease-out;
}

#button-floating-demo .floating-action-area .floating-click-sub-action.smart-visibility-hidden:nth-of-type(3) {
	animation: material-sub-button-middle-hide 0.2s ease-out;
}

@keyframes material-sub-button-top-hide {
	0% {
		top: 60%;
	}

	100% {
		top: 70%;
	}
}

@keyframes material-sub-button-middle-hide {
	0% {
		top: 50%;
	}

	100% {
		top: 70%;
	}
}

.floating-demo-start {
	background-image: url(https://htmlelements.com/demos/images/floating-demo-start.png);
}

.floating-demo-start smart-button {
	position: absolute;
	top: 61.5%;
	left: calc(100% - 66px);
	width: 60px;
	height: 60px;
	--smart-material-background-color: #0c9f59;
	--smart-material-focused-background-color: #099955;
	--smart-material-hovered-background-color: #0e874e;
	--smart-material-pressed-background-color: #078449;
}

.floating-demo-start button {
	color: #fff;
}

.raised-demo-start {
	background-image: url(https://htmlelements.com/demos/images/raised-button-demo.png);
}

.flat-demo-start {
	background-image: url(https://htmlelements.com/demos/images/flat-demo-start.png);
}

.flat-demo-start smart-button {
	background-color: transparent;
	position: absolute;
	top: 60%;
	left: 36.5%;
}

.flat-demo-start smart-button:nth-child(2) {
	left: 62.5%;
}

.flat-demo-start button {
	color: #2396f1;
}

#button-flat .button-dark smart-button,
#button-flat .button-light smart-button,
#button-raised .button-dark smart-button,
#button-raised .button-light smart-button,
#button-floating .button-dark smart-button,
#button-floating .button-light smart-button {
	margin-top: 35px;
}

#button-flat .button-light smart-button .ripple,
#button-raised .button-light smart-button .ripple,
#button-floating .button-light smart-button .ripple,
#floating-click-action .ripple,
.floating-click-sub-action .ripple {
	--smart-ripple-color: rgba(0, 0, 0, 0.1);
}

#button-flat .button-light smart-button:nth-child(3) button {
	background-color: var(--smart-material-focused-background-color);
}

#button-flat .button-light smart-button:nth-child(5) button {
	background-color: var(--smart-material-pressed-background-color);
}

#button-flat .button-dark smart-button:nth-child(3) button {
	background-color: var(--smart-material-focused-background-color);
}

#button-flat .button-dark smart-button:nth-child(5) button {
	background-color: var(--smart-material-pressed-background-color);
}

#button-raised .button-light smart-button:nth-child(3) button {
	background-color: var(--smart-material-pressed-background-color);
}

#button-raised .button-light smart-button:nth-child(5) button {
	background-color: var(--smart-material-focused-background-color);
}

#button-raised .button-light smart-button:nth-child(5),
#button-floating .button-light smart-button:nth-child(5) {
	box-shadow: 0.2px 5px 10px 3px rgba(189, 189, 189, 1);
}

#button-raised .button-dark smart-button:nth-child(3) button {
	background-color: var(--smart-material-focused-background-color);
}

#button-raised .button-dark smart-button:nth-child(5) button {
	background-color: var(--smart-material-pressed-background-color);
}

#button-floating .button-light smart-button:nth-child(3) button {
	background-color: var(--smart-material-focused-background-color);
}

#button-floating .button-light smart-button:nth-child(5) button {
	background-color: var(--smart-material-pressed-background-color);
}

#button-floating .button-dark smart-button:nth-child(3) button {
	background-color: var(--smart-material-focused-background-color);
}

#button-floating .button-dark smart-button:nth-child(5) button {
	background-color: var(--smart-material-pressed-background-color);
}

#toggle-button .toggle-button-container {
	background-color: #eeeeee;
	display: flex;
	justify-content: center;
	height: 50px;
	align-items: center;
}

#toggle-button .toggle-button-container div {
	display: flex;
	height: 30px;
	width: 50%;
	border-radius: 2px;
	box-shadow: 0.2px 1px 1px 1px rgba(0, 0, 0, 0.3);
	background-color: #fbfbfb;
	overflow: hidden;
}

#toggle-button .toggle-button-no-selection div {
	box-shadow: initial;
	border-radius: 2px;
	background-color: initial;
}

#toggle-button .toggle-button-container smart-toggle-button {
	height: 100%;
	flex-grow: 1;
	border-radius: initial;
	box-shadow: initial;
	background-color: initial;
}

#toggle-button .toggle-button-container smart-toggle-button button {
	display: flex;
	justify-content: center;
}

#toggle-button .toggle-button-container smart-toggle-button[checked] {
	border-right: 1px solid rgba(0, 0, 0, 0.45);
}

#toggle-button .toggle-button-container smart-toggle-button[checked]:last-of-type {
	border-right: initial;
}

#toggle-button-icons .module:nth-child(2),
#toggle-button-icons .module:nth-child(4) {
	width: calc(100% / 2);
}

.toggle-button-icons-container {
	background-color: #eeeeee;
	height: 350px;
}

#radio-button .radio-buttons-container-light,
#radio-button .radio-buttons-container-dark,
#check-box .check-box-container-light,
#check-box .check-box-container-dark,
#switch-button .switch-button-container-light,
#switch-button .switch-button-container-dark {
	background-color: #eeeeee;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	height: 150px;
}

#radio-button .radio-buttons-container-dark,
#check-box .check-box-container-dark,
#switch-button .switch-button-container-dark {
	background-color: #000;
}

#toggle-button-icons table,
#led-button table,
#radio-button-light table,
#radio-button-dark table,
#check-box-light table,
#check-box-dark table,
#switch-button-light table,
#switch-button-dark table {
	width: 85%;
	height: 65%;
	margin-left: 7.5%;
	margin-top: 5%;
	text-align: center;
}

#radio-button-light .module:nth-child(1) p,
#radio-button-dark .module:nth-child(1) p,
#check-box-light .module:nth-child(1) p,
#check-box-dark .module:nth-child(1) p,
#switch-button-light .module:nth-child(1) p,
#switch-button-dark .module:nth-child(1) p {
	margin-bottom: initial;
	-webkit-margin-before: initial;
}

#led-button .module:nth-child(3),
#radio-button-light .module:nth-child(2),
#radio-button-dark .module:nth-child(2),
#check-box-light .module:nth-child(2),
#check-box-dark .module:nth-child(2),
#switch-button-light .module:nth-child(2),
#switch-button-dark .module:nth-child(2) {
	width: calc(100% / 2);
}

#led-button .led-buttons-table,
#radio-button-light .radio-buttons-table-light,
#radio-button-dark .radio-buttons-table-dark,
#check-box-light .check-box-table-light,
#check-box-dark .check-box-table-dark,
#switch-button-light .switch-button-table-light,
#switch-button-dark .switch-buttons-table-dark {
	height: 350px;
	background-color: #eeeeee;
	display: flex;
	justify-content: center;
	align-items: center;
}

#radio-button-dark .radio-buttons-table-dark,
#check-box-dark .check-box-table-dark,
#switch-button-dark .switch-buttons-table-dark {
	background-color: #000;
	color: rgba(255, 255, 255, 0.5);
}

#radio-button-light .radio-buttons-table-light,
#check-box-light .check-box-table-light,
#switch-button-light .switch-button-table-light {
	color: rgba(0, 0, 0, 0.5);
}

#radio-button-light smart-radio-button.focused,
#radio-button-dark smart-radio-button.focused,
#check-box-light smart-check-box.focused,
#check-box-dark smart-check-box.focused {
	background-color: var(--smart-material-focused-background-color);
}

#radio-button-light smart-radio-button[checked].focused,
#radio-button-dark smart-radio-button[checked].focused,
#check-box-light smart-check-box[checked].focused,
#check-box-dark smart-check-box[checked].focused,
#switch-button-light smart-switch-button[checked].focused,
#switch-button-dark smart-switch-button[checked].focused {
	background-color: var(--smart-material-focused-checked-background-color);
}

#switch-button-light smart-switch-button[checked].focused .smart-thumb::before,
#switch-button-dark smart-switch-button[checked].focused .smart-thumb::before,
#switch-button-light smart-switch-button[checked].pressed .smart-thumb::before,
#switch-button-dark smart-switch-button[checked].pressed .smart-thumb::before,
#switch-button-light smart-switch-button.focused .smart-thumb::before,
#switch-button-dark smart-switch-button.focused .smart-thumb::before,
#switch-button-light smart-switch-button.pressed .smart-thumb::before,
#switch-button-dark smart-switch-button.pressed .smart-thumb::before {
	transform: scale(1);
	animation: button-wave-effect 0.1s ease-in;
	background-color: var(--smart-material-pressed-background-color);
}

#led-button table,
#radio-button-light table,
#radio-button-dark table,
#check-box-light table,
#check-box-dark table,
#switch-button-light table,
#switch-button-dark table {
	margin-top: initial;
	margin-left: initial;
	border-collapse: collapse;
	table-layout: fixed;
}

#led-button table tr:nth-child(3) p {
	color: #fff;
}

#led-button table tr:nth-child(3) {
	background-color: #000;
}

.toggle-button-icons-container smart-toggle-button {
	background-color: transparent;
	box-shadow: initial;
}

.toggle-button-icons-container smart-toggle-button.hover {
	background-color: var(--smart-material-hovered-background-color);
}

.toggle-button-icons-container smart-toggle-button.focused {
	background-color: var(--smart-material-focused-background-color);
}

.toggle-button-icons-container smart-toggle-button.pressed button {
	color: var(--smart-material-pressed-background-color);
}

.toggle-button-icons-container smart-toggle-button.pressed button {
	color: var(--smart-material-pressed-color);
	background-color: rgba(0, 0, 0, 0.2);
}

#toggle-button-icons h3 {
	margin-top: initial;
	padding: 3.5%;
	padding-bottom: initial;
	color: var(--smart-material-color);
	font-weight: 400;
	color: #a9a9a9;
}

.toggle-button-icons-themes {
	display: flex;
	justify-content: center;
}

.toggle-button-icons-themes div {
	width: calc(100% / 5);
	display: flex;
	flex-direction: column;
	align-items: center;
}

.toggle-button-icons-themes smart-toggle-button {
	width: 75px;
	height: 75px;
	font-size: 40px;
}

.toggle-button-icons-themes smart-toggle-button .material-icons {
	font-size: inherit;
}

.toggle-button-icons-themes smart-toggle-button button {
	font-size: inherit;
}

.toggle-button-icons-themes div:nth-child(1) {
	background-color: #2396f1;
	color: white;
}

.toggle-button-icons-themes div:nth-child(1) smart-toggle-button {
	--smart-material-color: #fff;
	--smart-material-pressed-color: #fff;
	--smart-material-background-color: #2396f1;
	--smart-material-focused-background-color: #729ce0;
	--smart-material-hovered-background-color: #2076c3;
	--smart-material-pressed-background-color: #009fef;
}

.toggle-button-icons-themes div:nth-child(2) {
	background-color: #00bcd5;
}

.toggle-button-icons-themes div:nth-child(2) smart-toggle-button {
	--smart-material-color: #fff;
	--smart-material-pressed-color: #000;
	--smart-material-background-color: #2396f1;
	--smart-material-focused-background-color: #35a4b7;
	--smart-material-hovered-background-color: #379bb2;
	--smart-material-pressed-background-color: #00a5b9;
}

.toggle-button-icons-themes div:nth-child(2) smart-toggle-button button {
	color: #000;
}

.toggle-button-icons-themes div:nth-child(3) {
	background-color: #eeeeee;
	color: #d94634;
}

.toggle-button-icons-themes div:nth-child(3) smart-toggle-button {
	--smart-material-color: #fff;
	--smart-material-pressed-color: #d94634;
	--smart-material-background-color: #2396f1;
	--smart-material-focused-background-color: #e5ceda;
	--smart-material-hovered-background-color: #e8b9c3;
	--smart-material-pressed-background-color: #e9c2bd;
}

.toggle-button-icons-themes div:nth-child(3) smart-toggle-button button {
	color: #d94634;
}

.toggle-button-icons-themes div:nth-child(4) {
	background-color: #000;
	color: #fff;
}

.toggle-button-icons-themes div:nth-child(4) smart-toggle-button {
	--smart-material-color: #fff;
	--smart-material-pressed-color: #fff;
	--smart-material-focused-background-color: #4c4c4c;
	--smart-material-hovered-background-color: #383838;
	--smart-material-pressed-background-color: #686868;
}

.toggle-button-icons-themes div:nth-child(4) smart-toggle-button button {
	color: #fff;
}

.toggle-button-icons-themes div:nth-child(5) {
	background-color: #000;
	color: #db4534;
}

.toggle-button-icons-themes div:nth-child(5) smart-toggle-button {
	--smart-material-color: #fff;
	--smart-material-pressed-color: #db4534;
	--smart-material-focused-background-color: #3f2803;
	--smart-material-hovered-background-color: #601209;
	--smart-material-pressed-background-color: #6a433e;
}

.toggle-button-icons-themes div:nth-child(5) smart-toggle-button button {
	color: #db4534;
}

.repeat-buttons-container {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	background-color: #eeeeee;
	padding: 10px;
}

.progress-bar-container,
.progress-bar-container-dark-theme {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	background-color: #eeeeee;
	padding: 10px;
}

.progress-bar-container-dark-theme {
	background-color: #000;
}

#progressBarCircularControl .smart-label-container,
#progressBarCircularControl2 .smart-label-container,
#progressBarAnimated .smart-label-container {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}

#progressBarAnimated .smart-label-container smart-power-button {
	width: 100%;
	height: 100%;
}

#progressBarAnimated .smart-label-container smart-power-button .smart-input::after {
	font-size: 30px;
}

#progressBarCircularControl2 .smart-label-container {
	flex-direction: row;
}

#progressBarCircularControl2 .smart-label-container smart-repeat-button {
	width: 50%;
	height: 100%;
}

#repeat-button-demo .repeat-buttons-container {
	flex-direction: column;
	height: 200px;
}

.repeat-buttons-container .material-icons {
	font-size: 35px;
}

#repeat-buttons-specs-behavior .module>div,
#power-button .power-button-light>div,
#power-button .power-button-dark>div,
#power-button .power-button-flat-light>div,
#power-button .power-button-flat-dark>div,
#led-button .led-button-light>div,
#led-button .led-button-dark>div {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 50px;
	height: 350px;
	background-color: #eeeeee;
}

#power-button .power-button-dark>div,
#led-button .led-button-dark>div,
#power-button .power-button-flat-dark>div {
	background-color: #333333;
	color: #fff;
	text-align: center;
	padding: 50px;
}

#repeat-buttons-specs-behavior .module:last-of-type>div {
	background-color: #000;
}

#repeat-buttons-specs-behavior smart-repeat-button,
#power-button .power-button-light smart-power-button,
#power-button .power-button-flat-light smart-power-button,
#power-button .power-button-flat-dark smart-power-button,
#power-button .power-button-dark smart-power-button {
	width: 50px;
	height: 50px;
}

/* Firefox Specific CSS */
@-moz-document url-prefix() {

	#power-button .power-button-light smart-power-button,
	#power-button .power-button-flat-light smart-power-button,
	#power-button .power-button-flat-dark smart-power-button,
	#power-button .power-button-dark smart-power-button {
		margin-top: 35px;
	}
}

#power-button .power-button-light>div smart-power-button:nth-child(3) .smart-input,
#power-button .power-button-dark>div smart-power-button:nth-child(3) .smart-input,
#power-button .power-button-flat-light>div smart-power-button:nth-child(3) .smart-input,
#power-button .power-button-flat-dark>div smart-power-button:nth-child(3) .smart-input {
	background-color: var(--smart-material-focused-background-color);
}

.button-container {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 250px;
	background-color: #eeeeee;
}

.module h3 {
	margin-top: 30px;
}

.module p {
	margin-bottom: 20px;
}

.module img {
	width: 100%;
}

.floating-action-area #floating-hover-action.smart-visibility-hidden {
	animation: material-button-hide 0.2s ease-out;
	transition: animation, visibility 0.2s ease-out;
}

.floating-action-area #floating-hover-action {
	animation: material-button-appear 0.2s ease-in;
}

.floating-action-area #floating-hover-action.material-dark.floating:active {
	box-shadow: 0.2px 5px 10px 3px rgba(0, 0, 0, 0.3);
}

@keyframes material-button-appear {
	0% {
		transform: scale(0);
	}

	100% {
		transform: scale(1);
	}
}

@keyframes material-button-hide {
	0% {
		transform: scale(1);
	}

	100% {
		transform: scale(0);
	}
}