<smart-gauge #gauge id="gauge1" [analogDisplayType]="'fill'" [scalePosition]="'outside'" [mode]="'date'"
    [dateLabelFormatString]="'d'" [value]="'new Date(2001, 10, 1)'" [showRanges]="true"></smart-gauge>
<smart-gauge #gauge2 id="gauge2" [analogDisplayType]="'line'" [coerce]="true" [scalePosition]="'outside'"
    [mode]="'date'" [value]="'new Date(2018, 0, 1)'" [customInterval]="true"></smart-gauge>
<smart-gauge #gauge3 id="gauge3" [analogDisplayType]="'line'" [inverted]="true" [showUnit]="true"
    [ticksPosition]="'track'" [unit]="'μs'" [mode]="'date'" [dateLabelFormatString]="'uu'"></smart-gauge>