@import url('https://www.htmlelements.com/demos/source/styles/smart.default.css');

#container h1 {
	display: block;
	font-size: 2em;
	-webkit-margin-before: 0.67em;
	-webkit-margin-after: 0.67em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	font-weight: bold;
	position: static;
}

#container h2 {
	display: block;
	font-size: 1.5em;
	-webkit-margin-before: 0.67em;
	-webkit-margin-after: 0.67em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	font-weight: bold;
}

#container h3 {
	display: block;
	font-size: 1.17em;
	-webkit-margin-before: 0.67em;
	-webkit-margin-after: 0.67em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	font-weight: bold;
}

#container h4 {
	display: block;
	-webkit-margin-before: 0.67em;
	-webkit-margin-after: 0.67em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	font-weight: bold;
}

#container h5 {
	display: block;
	font-size: 0.83em;
	-webkit-margin-before: 0.67em;
	-webkit-margin-after: 0.67em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	font-weight: bold;
}

#container h6 {
	display: block;
	font-size: 0.67em;
	-webkit-margin-before: 0.67em;
	-webkit-margin-after: 0.67em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	font-weight: bold;
}
/* .smart-badge */
.smart-badge {
  display: inline-block;
  padding: 0.25em 0.4em;
  font-weight: 700;
  line-height: 1;
}
.smart-badge.smart-badge-primary {
  color: var(--smart-primary-color);
  background-color: var(--smart-primary);
}
.smart-badge.smart-badge-secondary {
  color: var(--smart-secondary-color);
  background-color: var(--smart-secondary);
}
.smart-badge.smart-badge-success {
  color: var(--smart-success-color);
  background-color: var(--smart-success);
}
.smart-badge.smart-badge-error {
  color: var(--smart-error-color);
  background-color: var(--smart-error);
}
.smart-badge.smart-badge-info {
  color: var(--smart-info-color);
  background-color: var(--smart-info);
}
.smart-badge.smart-badge-warning {
  color: var(--smart-warning-color);
  background-color: var(--smart-warning);
}
.smart-badge.smart-badge-light {
  color: var(--smart-light-color);
  background-color: var(--smart-light);
}
.smart-badge.smart-badge-dark {
  color: var(--smart-dark-color);
  background-color: var(--smart-dark);
}
.smart-badge.smart-badge-danger {
  color: var(--smart-error-color);
  background-color: var(--smart-error);
}
.smart-badge.smart-badge-pill {
  border-radius: 10rem;
}

/* .smart-badge */
.smart-badge[right-to-left] {
  direction: rtl;
}