<div class="demo-description">
    <b>Description:</b> <b>Update</b> method updates the task with index 9 ( if
    there's one). <b>Insert</b> method insert's a Project Task with two sub-tasks
    at position 8. <b>Remove</b> method removes the first Task.
</div>
<smart-gantt-chart #ganttChart [dataSource]="dataSource" [treeSize]="treeSize"
    [taskColumns]="taskColumns"></smart-gantt-chart>
<div class="options">
    <div class="captions">Settings</div>
    <div class="option">
        <smart-button #updateButton id="updateButton" (click)="handleUpdateButtonClick($event)">Update</smart-button>
    </div>
    <div class="option">
        <smart-button #insertButton id="insertButton" (click)="handleInsertButtonClick($event)">Insert</smart-button>
    </div>
    <div class="option">
        <smart-button #insertAtButton id="insertAtButton" (click)="handleInsertAtPosition2ButtonClick($event)">Insert at
            Position 2</smart-button>
    </div>
    <div class="option">
        <smart-button #insertIntoButton id="insertIntoButton"
            (click)="handleInsertIntoProject11ButtonClick($event)">Insert into Project 1.1</smart-button>
    </div>
    <div class="option">
        <smart-button #insertIntoAtButton id="insertIntoAtButton"
            (click)="handleInsertIntoProject1AtLastPositionButtonClick($event)">Insert into Project 1 at last
            position</smart-button>
    </div>
    <div class="option">
        <smart-button #removeButton id="removeButton" (click)="handleRemoveButtonClick($event)">Remove</smart-button>
    </div>
</div>