<smart-calendar #calendar displayModeView="list" (onDisplayModeChange)="handleCalendarDisplayModeChange($event)"></smart-calendar>
<br />
<div class="options">
    <div class="caption">Choose Mode</div>
    <div class="option">
		<smart-radio-button #radiobutton [checked]="true" (onChange)="handleRadioDisplayModeChange($event, 'month')">Month</smart-radio-button>
        <smart-radio-button #radiobutton2 (onChange)="handleRadioDisplayModeChange($event, 'year')">Year</smart-radio-button>
        <smart-radio-button #radiobutton3 (onChange)="handleRadioDisplayModeChange($event, 'decade')">Decade</smart-radio-button>
    </div>
</div>