@font-face {
  font-family: smart-icons;
  src: local("./smart-icons"),
    url("./smart-icons.woff2") format("woff2"),
    url("./smart-icons.woff") format("woff"),
    url("./smart-icons.ttf") format("truetype"),
    url("./smart-icons.eot") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}
