<div class="demo-description">GanttChart's can be exported to a PDF or XLSX file via the <b>exportData</b> method
    by clicking on the corresponding button.</div>
<smart-gantt-chart #ganttchart id="gantt"[treeSize]="treeSize" [durationUnit]="durationUnit" [nonworkingHours]="nonworkingHours"
[nonworkingDays]="nonworkingDays" [taskColumns]="taskColumns" [dataSource]="dataSource"></smart-gantt-chart>
<div class="options">
    <div class="option">
        <smart-button #button id="exportToXLSX">Export to XLSX</smart-button>
    </div>
    <div class="option">
        <smart-button #button2 id="exportToPDF">Export to PDF</smart-button>
    </div>
    <div class="option">
        <smart-button #button3 id="exportToHTML">Export to HTML</smart-button>
    </div>
</div>