<h3 id="log">smartCalendar animations On</h3>
<br>
 <h3 id="animationSwitchLabel">Toggle animation</h3>
<smart-switch-button #switchbutton id="animationSwitch" switch-mode="click"
checked> <span class="smart-true-content">ON</span> <span class="smart-false-content">OFF</span>
</smart-switch-button>
<smart-calendar #calendar id="calendar" class="animation"></smart-calendar>
<br>
 <h3 id="animationDirectionSwitchLabel">Animation direction</h3>
<smart-switch-button #switchbutton2 id="animationDirectionSwitch" switch-mode="click"
checked> <span class="smart-true-content">Landscape</span> <span class="smart-false-content">Portrait</span>
</smart-switch-button>