<div class="demo-description">
  <h1>Content Security Policy</h1>
  <p>This example uses a Content Security Policy meta tag to show that the grid works with CSP</p>
</div>
<smart-grid #grid
  [columns]="columns"
  [dataSource]="dataSource"
  [dataSourceSettings]="dataSourceSettings"
  [sorting]="sorting"
  [layout]="layout"
  [filtering]="filtering"
  [editing]="editing"
  [selection]="selection"
  [summaryRow]="summaryRow"
  [behavior]="behavior"
  [appearance]="appearance"
  style="width: 100%; height: 600px;">
</smart-grid>