<smart-kanban #kanban id="kanban" [addNewColumn]="addNewColumn" [allowColumnRemove]="allowColumnRemove" [collapsible]="collapsible" [dataSource]="dataSource" [columns]="columns" [addNewButton]="addNewButton" [editable]="editable" [columnActions]="columnActions" [columnEditMode]="columnEditMode" [columnFooter]="columnFooter" [columnSummary]="columnSummary" [columnColors]="columnColors" [columnColorEntireSurface]="columnColorEntireSurface" [allowColumnEdit]="allowColumnEdit" [allowColumnReorder]="allowColumnReorder" [taskActions]="taskActions" [taskDue]="taskDue" [taskComments]="taskComments" [currentUser]="currentUser" [taskProgress]="taskProgress" [users]="users" [columnWidth]="columnWidth" [addNewColumnWidth]="addNewColumnWidth">
</smart-kanban>
<div class="options">
    <div class="caption">
        Options
    </div>
    <div class="option">
        <smart-number-input value="350" min="150" max="500" data-target="#kanban" data-property="columnWidth">
        </smart-number-input>
    </div>
</div>