smart-drop-down-list {
	min-height: 35px;
	height: 35px;
	width: 300px;
}

/* Glyph Icons */

@font-face {
    font-family: 'Glyphicons Halflings';
    src: url('https://htmlelements.com/demos/images/glyphicons-halflings-regular.eot');
    src: url('https://htmlelements.com/demos/images/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), 
    url('https://htmlelements.com/demos/images/glyphicons-halflings-regular.woff2') format('woff2'), 
    url('https://htmlelements.com/demos/images/glyphicons-halflings-regular.woff') format('woff'), 
    url('https://htmlelements.com/demos/images/glyphicons-halflings-regular.ttf') format('truetype'), 
    url('https://htmlelements.com/demos/images/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}

.glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.glyphicon-ok:before {
    content: "\e013";
}