<div class="demo-description">
  <h1>Columns AI</h1>
  <p>This demo illustrates how to use the Columns AI feature of the Grid. The Columns AI feature
    generates values based on prompt and data provided to the grid. It uses
    artificial intelligence algorithms to analyze the data and determine the most relevant columns
    to display.</p>
</div>

<smart-grid #grid  [columns]="columns" [ai]="ai" [sorting]="sorting" [selection]="selection" [layout]="layout" [appearance]="appearance" [dataSource]="dataSource" [dataSourceSettings]="dataSourceSettings"></smart-grid>